[submodule "amrex"]
	path = submodules/amrex
	url = https://github.com/AMReX-Codes/amrex.git
[submodule "submodules/HighFive"]
	path = submodules/HighFive
	url = https://github.com/BlueBrain/HighFive.git
